@font-face {
    font-family: 'cerebri_sansregular';
    src: url('./cerebri-sans-regular-webfont.woff2') format('woff2'),
         url('./cerebri-sans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    background-color: #fff5ec;
    /* background-color: #f8f7f4; */
    color: #000;
    font-family: 'cerebri_sansregular';
  }
.block-reveal {
   
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    padding-bottom: 75px;
}
h1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}
h2 {
    font-size: 16pt;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}
h3 {
    font-size: 16pt;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.container {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* padding-top: 100%; */
    margin-left: auto;
    margin-right: auto;
  }
.frame {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 680px;
    padding-left: 0%;
  }
.block-reveal {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.block-reveal span {
    font-size: 6rem;
    font-weight: bold;
    overflow: hidden;
}

.block-reveal span {position: relative;}
.block-reveal span:after {
    background: #414141;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
}
.block-reveal span:after {
    animation: block-reveal 2.0s both;
}
@keyframes block-reveal {
    0% { transform: translate(-110%, 0);}
    45%, 75% { transform: translate(0, 0);}
    100% { transform: translate(110%, 0);}
}
.block-reveal span {
    animation: show-text 2s steps(1) both;
}
@keyframes show-text {
    0% {color: transparent}
    50%, 100% {color: #414141;}
}
.footer {
    font-size: 12pt;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff5ec;
    color: #414141;
    text-align: center;
}
.questions {
    padding-top: 50px;
    padding-bottom: 90px;
    font-size: 14pt;
    text-align:center;
}
